body {
    background-color: blue;
    margin: 0 5%;
}

.logo {
    background: pink;
    border: 2px dotted gray;
    margin: 10px auto 10px auto;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.logo h2 {
    margin: 2.5em 0 0 2em;
}

.banners {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.banner1 {
    background-color: yellow;
    border: 2px solid white;
    width: 48%;
    height: 100px;
    text-align: center;
}

.banner2 {
    background-color: yellow;
    border: 2px solid white;
    width: 48%;
    height: 100px;
    text-align: center;
}

.contenidos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}

.menu {
    background-color: orange;
    border: 2px solid white;
    width: 20%;
    height: 700px;
    text-align: center;
}

.menu h2 {
    line-height: 700px;
}

.informacion {
    background-color: white;
    border: 2px solid black;
    width: 78%;
    height: 700px;
    text-align: center;
}

.informacion p {
    font-size: 1.5em;
    margin: 30% 0;
}

@media screen and (max-width: 750px) {
 	.banners {
 		flex-flow: column wrap;
 		align-items: center;
 	}
 	.banner1 {
 		width: 80%;
 		margin-bottom: 1em;
 	}
 	.banner2 {
 		width: 80%;
 	}
 	.contenidos {
 		flex-flow: column wrap;	
 		align-items: center;
 		margin-bottom: 1em;
 	}
 	.menu {
 		width: 80%;
 		height: 500px;
 		margin-bottom: 1em;
 	}
 	.menu h2 {
 		line-height: 450px;
 	}
 	.informacion {
 		width: 80%;
 		height: 500px;
 	}
}
